* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img//win11.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 400px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 50px;
}

h2 {
    text-align: center;
}


.form_scope {
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #e6f9ff;
    margin: 20px 0;
}

.form_group {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 0;
    align-items: center;
}

label {
    width: 80px;
}

input {
    width: 270px;
    padding: 5px 10px;
    outline: none;
}

.btn_group {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    text-align: center;
    align-items: center;
}

.btn {
    width: fit-content;
    padding: 5px 15px;
    cursor: pointer;
    /* border: 1px solid black; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 3px;
    background-color: #3498DB;
}

.link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.error-message {
    color: red;
    padding-left: 80px;
}

.hiden {
    display: none;
}

img {
    width: 100px;
}

.label_avatar {
    background-color: rgb(118, 118, 247);
    margin-right: 90px;
}